{% extends 'CSDesignBundle:Commun:commun.html.twig' %}

{% block js_piwik %}
// add the first product to the order
{% for product in order.products %}
_paq.push(['addEcommerceItem',
	"{{ product.id }}", // (required) SKU: Product unique identifier
	"{{ product.name }}", // (optional) Product name
	"{{ product.fournisseur.id }}", // (optional) Product category. You can also specify an array of up to 5 categories eg. ["Books", "New releases", "Biography"]
	{{ product.price }}, // (recommended) Product price
	1 // (optional, default to 1) Product quantity
]);
{% endfor %}
// Here you can add other products in the order
// Specifiy the order details to Piwik server &amp; sends the data to Piwik server
_paq.push(['trackEcommerceOrder',
	"{{ order.id }}", // (required) Unique Order ID
	{{ order.totalPrice }}, // (required) Order Revenue grand total (includes tax, shipping, and subtracted discount)
	30, // (optional) Order sub total (excludes shipping)
	5.5, // (optional) Tax amount
	4.5, // (optional) Shipping amount
	false // (optional) Discount offered (set to false for unspecified parameter)
]);
// we recommend to leave the call to trackPageView() on the Order confirmation page
_paq.push(['trackPageView']);
{% endblock %}

{% block css %}
<link href="{{ asset('bundles/cscart/css/checkout.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}

<h1>Confirmation</h1>

<p>Votre commande est validée!</p>

{% endblock %}