{% extends 'CSDesignBundle:Commun:commun.html.twig' %}

{% block css %}
<link href="{{ asset('bundles/cscart/css/checkout.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}



{% block body %}
<div class="cart">
	<h1> Mon panier </h1>
	
	{% for flashMessage in app.session.flashbag.get('notice') %}
	    <div class="flash-notice">
	        {{ flashMessage }}
	    </div>
	{% endfor %}

	{% if cart and (cart.products | length > 0) %}
	<table class="list-products">
	  <thead>
		  <tr>
		    <th>Nom du produit</th>
		    <th>Promotion</th>
		    <th>Jusqu'au</th>
		    <th>Prix</th>
		  </tr>
	  </thead>
	  <tfoot>
	    <tr>
	     <tr>
		    <td></td>
		    <td></td>
		    <td><strong>Total : </strong></td>
		    <td><strong>{{ valueCart|number_format(2, ',', '.') }} €</strong></td>
		  </tr>
	    </tr>
	  </tfoot>
	  <tbody>
		  {%  for product in  cart.products %}    
		  <tr>  
		    <td>{{ product.name }}</td>
		    {% set currentPromotion = product.currentPromotion %}
             {% if currentPromotion %}
            	<td>{{ currentPromotion.percentage }} %</td>
            	<td><span class="label label-info">{{ currentPromotion.endDate|date('d/m/Y') }}</span></td>
            	<td>
            		{% if product.price != 0 %}
	            		{% set newPrice = (product.price - (product.price * currentPromotion.percentage / 100)) %}
	            		{{ newPrice|number_format(2, ',', '.') }} € 
		            	<strike>{{ product.price|number_format(2, ',', '.') }} €</strike>
		            {% else %}
		            	Gratuit
		            {% endif %} 
            	</td>
            {% else %}
            	<td></td>
            	<td></td>
            	{% if product.price != 0 %}
	            		<td>{{ product.price|number_format(2, ',', '.') }} €</td>
		            {% else %}
		            	<td>Gratuit</td>
		            {% endif %} 
           	{% endif %}
		    
		    <td class="delete"><a href="{{ path("delete_product",{"product_id" : product.id}) }}"/></td>
		  </tr>
		  {% endfor %}
	  </tbody>
	</table>
	
	<div class="row-fluid action-buttons">
		<div class="span3">
			<a class="btn btn-large btn-block btn-info"
				href="{{ path("validate_cart") }}"><i
				class="icon-shopping-cart"></i>Valider le panier</a>
		</div>
	</div>
	
	<div class="clear"></div>
	      
	{% else %}
		Votre panier est vide.
	{% endif %}
</div>
{% endblock body %}

{% block js_piwik %}
// add the first product to the order
{%  for product in  cart.products %} 
_paq.push(['addEcommerceItem',
	"{{ product.id }}", // (required) SKU: Product unique identifier
	"{{ product.name }}", // (optional) Product name
	{{ (product.price) }}, // (recommended) Product price
	1 // (optional, default to 1) Product quantity
]);
// Here it is important to add all other products found in the cart, even the products not updated by the current "Add to cart" click
{% endfor %}
// Records the cart for this visit
_paq.push(['trackEcommerceCartUpdate',
	{{ valueCart }}]); // (recommended) Cart amount
{% endblock %}