{% extends 'CSDesignBundle:Commun:commun.html.twig' %}

{% block css %}
<link href="{{ asset('bundles/cscart/css/checkout.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="cart">
	<h1> Mon panier </h1>
	
	{% for flashMessage in app.session.flashbag.get('notice') %}
	    <div class="flash-notice">
	        {{ flashMessage }}
	    </div>
	{% endfor %}

	{% if cart and (cart.products | length > 0) %}
	<table class="list-products">
	  <thead>
		  <tr>
		    <th>Nom du produit</th>
		    <th>Prix</th>
		  </tr>
	  </thead>
	  <tbody>
		  {%  for product in  cart.products %}    
		  <tr>  
		    <td>{{ product.name }}</td>
		    <td>{{ (product.price / 100) |number_format(2, ',', '.') }} €</td>
		    <td class="delete"><a href="{{ path("delete_product",{"product_id" : product.id}) }}"/></td>
		  </tr>
		  {% endfor %}
	  </tbody>
	</table>
	
	<div class="row-fluid action-buttons">
		<div class="span3">
			<a class="btn btn-large btn-block btn-info"
				href="{{ path("validate_cart") }}"><i
				class="icon-shopping-cart"></i>Valider le panier</a>
		</div>
	</div>
	
	<div class="clear"></div>
	      
	{% else %}
		Votre panier est vide.
	{% endif %}
</div>
{% endblock body %}