<div class="row header">
	

<!-- Le logo Cultural Store -->
			<div class="logo span3">
				<img src="{{ asset('bundles/csdesign/img/logo_CulturalStore.png') }}" alt="Logo CulturalStore"/>
			</div>	
			
<!-- Le champs titre de la page d'administration -->			
			<div class="span9">
				<h3>Page d'administration</h3>	 
			</div>
			
</div>
<!-- La barre de navigation de l'administrateur -->				
<div class="navigation">
	<nav class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">				
					<li><a href="{{ path('cs_admin_show_community') }}">Demandes d'ajout de communaut&eacute;s</a></li>	
					<li><a href="{{ path('cs_admin_show_fournisseur') }}">Valider les fournisseurs</a></li>	
					<li><a href="#">Autre</a></li>
					<li><a href="{{ path('cs_design_homepage') }}">Acc&eacute;der au site client</a></li>
					<li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
