{% import 'SyliusResourceBundle:Macros:actions.html.twig' as actions %}

<h1>Création de produit</h1>
<hr />

<form action="{{ path('sylius_product_create_ticket') }}" method="post" {{ form_enctype(form) }}
	class="form-horizontal" novalidate>
	{{ form_errors(form) }}

	<table>
		<tr>
			<td>{{ form_label(form.name, 'Nom du produit') }}</td>
			<td>{{ form_widget(form.name, {'attr': {'class': ''}}) }}</td>
		</tr>
		<tr>
			<td>{{ form_label(form.description, 'Description') }}</td>
			<td>{{ form_widget(form.description, {'attr': {'class': ''}}) }}</td>
		</tr>
		<tr>
			<td>{{ form_label(form.price, 'Prix') }}</td>
			<td>{{ form_widget(form.price, {'attr': {'class': ''}}) }}</td>
		</tr>
		<tr>
			<td>{{ form_label(form.image, "URL de l'image") }}</td>
			<td>{{ form_widget(form.image, {'attr': {'class': ''}}) }}</td>
		</tr>
		<tr>
			<td>{{ form_label(form.type, 'Type') }}</td>
			<td>{{ form_widget(form.type, {'attr': {'class': ''}}) }}</td>
		</tr>
		<tr>
			<td>{{ form_label(form.genre, 'Genre') }}</td>
			<td>{{ form_widget(form.genre, {'attr': {'class': ''}}) }}</td>
		</tr>
		<tr>
			<td>{{ form_label(form.quantite, 'Quantité') }}</td>
			<td>{{ form_widget(form.quantite, {'attr': {'class': ''}}) }}</td>
		</tr>
		<tr>
			<td>{{ form_label(form.lieu, 'Lieu') }}</td>
			<td>{{ form_widget(form.lieu, {'attr': {'class': ''}}) }}</td>
		</tr>
		<tr>
			<td>{{ form_label(form.dateEvent, 'Date du spectacle') }}</td>
			<td>{{ form_widget(form.dateEvent, {'attr': {'class': ''}}) }}</td>
		</tr>
		<tr>
			<td>{{ form_label(form.upload, 'Telecharger votre fichier') }}</td>
			<td>{{ form_widget(form.upload, {'attr': {'class': ''}}) }}</td>
		</tr>
	</table>
	<br /> {{ form_widget(form.create, { 'label': 'Créer le produit' }) }}

	{{ form_rest(form) }}
</form>
