<ul>
	<li class="type" > <span>Type : </span> <span>{{ product.type }} </span>  </li>
	<li class="duree" > <span>Duree : </span> <span>{{ product.duree }} </span> </li>
	<li class="format" > <span>Format : </span> <span>{{ product.format }} </span>  </li>
	<li class="langue" > <span>Langue : </span> <span>{{ product.langue }} </span> </li>
	<li class="sublangue" > <span>Sous-Titre : </span> <span>{{ product.sublangue }} </span>  </li>
</ul>