{{ form_start(form, {'attr': {'class': 'form-search'}}) }}
    {{ form_errors(form) }}
		<div class="input-append">
        {{ form_errors(form.recherche) }}
        {{ form_widget(form.recherche, {'attr': {'class': 'search-query','placeholder':'Twilight, Lara Fabian, etc.'}}) }}

        {{ form_widget(form.Rechercher, {'attr': {'class': 'btn btn-primary search'}}) }}
		</div>
{{ form_end(form) }}