<!-- Mise en place du carousel à 3 slides -->
<div class="row">
<div class="span10 offset1">
	<div class="carousel slide" id="superCarousel">
		<ol class="carousel-indicators">
   			 <li data-target="#superCarousel" data-slide-to="0" class="active"></li>
   			 <li data-target="#superCarousel" data-slide-to="1"></li>
   			 <li data-target="#superCarousel" data-slide-to="2"></li>
 		 </ol>
		<div class="carousel-inner">
			<div class="item active">
				<img src="{{ asset('bundles/csdesign/img/worms.png') }}" alt="Battlefield"/>
				<div class="carousel-caption">
					<p>Le nouveau Worms est sorti !</p>
				</div>
			</div>
			
			<div class="item">
				<img src="{{ asset('bundles/csdesign/img/mag.jpg') }}" alt="Dota" />
				<div class="carousel-caption">
					<p>Le magasin rennais est là !</p>
				</div>
			</div>
			
			<div class="item">
				<img src="{{ asset('bundles/csdesign/img/book.jpg') }}" alt="Lara" />
				<div class="carousel-caption">
					<p>Le petit prince à prix spécial !</p>
				</div>
			</div>
			</div>		
			<a class="carousel-control left" data-slide="prev" href="#superCarousel">&lsaquo;</a>
			<a class="carousel-control right" data-slide="next" href="#superCarousel">&rsaquo;</a>	
	</div>
	</div>
</div>

<!-- Mise en place des minis carousels pour la suggestion de produit par communauté -->

<!-- Row qui va contenir un carousel de suggestion de produit -->
<div class="row">
	<div class="span10">
		<div class="carousel slide" id="suggestionCarouselFirst">
			<div class="carousel-inner">
				<div class="item active">
					<div class="span3">
						<div class="one">
							<img src="{{ asset('bundles/csdesign/img/worms.png') }}" alt="Bob" class="photo img-polaroid "/>
							<p>Super produit de cultural store</p>
						</div>
						</div>
						<div class="span3">
						<div class="second">
							<img src="{{ asset('bundles/csdesign/img/faust.jpeg') }}" alt="Bob" class="photo img-polaroid "/>	
							<p>Super produit Bob l'éponge</p>
						</div>
						</div>
						<div class="span3">
						<div class="third">		
							<img src="{{ asset('bundles/csdesign/img/marc.jpg') }}" alt="Bob" class="photo img-polaroid "/>	
							<p>Nouveau livre de marc lévy</p>	
						</div>		
						</div>		
				</div>
			
			</div>
			<a class="carousel-control left" data-slide="prev" href="suggestionCarouselFirst">&lsaquo;</a>
			<a class="carousel-control right" data-slide="next" href="suggestionCarouselFirst">&rsaquo;</a>
		</div>
		
		
		
		
		
<!-- Row qui va contenir un carousel de suggestion de produit -->
<div class="row">
	<div class="span10">
		<div class="carousel slide" id="suggestionCarouselSecond">
			<div class="carousel-inner">
				<div class="item active">
					<div class="span3">
						<div class="one">
							<img src="{{ asset('bundles/csdesign/img/bob.jpeg') }}" alt="Bob" class="photo img-polaroid "/>
							<p>Super produit de cultural store</p>
						</div>
						</div>
						<div class="span3">
						<div class="second">
							<img src="{{ asset('bundles/csdesign/img/faust.jpeg') }}" alt="Bob" class="photo img-polaroid "/>	
							<p>Super produit Bob l'éponge</p>
						</div>
						</div>
						<div class="span3">
						<div class="third">		
							<img src="{{ asset('bundles/csdesign/img/marc.jpg') }}" alt="Bob" class="photo img-polaroid "/>	
							<p>Nouveau livre de marc lévy</p>	
						</div>		
						</div>		
				</div>
			
			</div>
			<a class="carousel-control left" data-slide="prev" href="suggestionCarouselSecond">&lsaquo;</a>
			<a class="carousel-control right" data-slide="next" href="suggestionCarouselSecond">&rsaquo;</a>
		</div>
		<!-- Row qui va contenir un carousel de suggestion de produit -->
<div class="row">
	<div class="span10">
		<div class="carousel slide" id="suggestionCarouselThird">
			<div class="carousel-inner">
				<div class="item active">
					<div class="span3">
						<div class="one">
							<img src="{{ asset('bundles/csdesign/img/worms.png') }}" alt="Bob" class="photo img-polaroid "/>
							<p>Super produit de cultural store</p>
						</div>
						</div>
						<div class="span3">
						<div class="second">
							<img src="{{ asset('bundles/csdesign/img/faust.jpeg') }}" alt="Bob" class="photo img-polaroid "/>	
							<p>Super produit Bob l'éponge</p>
						</div>
						</div>
						<div class="span3">
						<div class="third">		
							<img src="{{ asset('bundles/csdesign/img/marc.jpg') }}" alt="Bob" class="photo img-polaroid "/>	
							<p>Nouveau livre de marc lévy</p>	
						</div>		
						</div>		
				</div>
			
			</div>
			<a class="carousel-control left" data-slide="prev" href="suggestionCarouselThird">&lsaquo;</a>
			<a class="carousel-control right" data-slide="next" href="suggestionCarouselThird">&rsaquo;</a>
		</div>
		
	</div>
</div>

<!-- Mise en place de la colonne latérale haute pour indiquer ce que les gens des communautés aiment -->

<!-- Mise en place de la colonne latérale basse concernant les avis déposés -->