<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>{% block title %}Cultural Store{% endblock %}</title>
		<link href="{{ asset('bundles/csdesign/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
		<link href="{{ asset('bundles/csdesign/css/bootstrap-responsive.css') }}" type="text/css" rel="stylesheet" />	
		<link href="{{ asset('bundles/csdesign/css/style.css') }}" type="text/css" rel="stylesheet" />
		<link href="{{ asset('bundles/csdesign/css/jquery-2.0.3.js') }}" type="text/css" rel="stylesheet" />
		<link href="{{ asset('bundles/csdesign/css/bootstrap.js') }}" type="text/css" rel="stylesheet" />
			
	</head>
<body>
	<div class="header">
	{% block header %}
		<div class="logo">
			<img src="{{ asset('bundles/csdesign/img/logo_CulturalStore.png') }}" alt="Logo CulturalStore"/>
		</div>
		
	
	{% endblock %}
	</header>
	
{% block body %}
{% endblock %}

<div class="footer">
{% block footer %}
{% endblock %}
</div>

</body>

</html>