<div class="row footer">
	<div class="logo span3">
		<a href="{{ path('cs_design_homepage') }}"><img src="{{ asset('bundles/csdesign/img/logo_CulturalStore.png') }}" alt="Logo CulturalStore"/></a>
	</div>	


	<div class="span3 paiement">
		<h6>Nous acceptons les moyens de paiement suivants : </h6>
		<img src="{{ asset('bundles/csdesign/img/card_icons.png') }}" alt="Logo CulturalStore"/>
	</div>
	
	<div class="span3 accesVendeur">
		<h6>Vous êtes intéressé par Cultural Store ? Rejoingnez notre équipe de vendeurs dès <a href="#">maintenant !</a></h6>
	</div>
	
	<div class="span3 followUs">
		<ul>
			<li>
				<a class="fb_link" href="#">Suivez nous sur Facebook</a>
				<img src="{{ asset('bundles/csdesign/img/icon_fb.png') }}"/>
			</li>
			<li>
				<a class="gg_link" href="#">Suivez nous sur Google +</a>
				<img src="{{ asset('bundles/csdesign/img/icon_gg.png') }}"/>
			</li>
			<li>
				<a class="twitter_link" href="#">Suivez nous sur Twitter</a>
				<img src="{{ asset('bundles/csdesign/img/icon_twitter.png') }}"/>
			</li>
		</ul>
	</div>

</div>