<div class="row">
	<div class="span10 offset1">
		<h3>Bienvenue sur la page de gestion fournisseur</h3>
	</div>
</div>

<div class="choixAjout">
	<p>Vous souhaitez ajouter un nouveau produit ?</p>
	<div class="btn-group"> 
		<a class="btn" data-toggle="dropdown" href="#"> Catégorie</a>
 		<ul class="dropdown-menu">
  			<li><a href="{{ path('sylius_product_create_video') }}">Vidéos</a></li>
   			<li><a href="{{ path('sylius_product_create_book') }}">Livre</a></li>
   			<li><a href="{{ path('sylius_product_create_music') }}">Musique</a></li>
   			<li><a href="{{ path('sylius_product_create_game') }}">Jeux vidéos</a></li>
   			<li><a href="{{ path('sylius_product_create_ticket') }}">Spectacle</a></li>
  		</ul>
	</div>
</div>