<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="icon" type="image/png" href="{{ asset('bundles/csdesign/img/icone.png') }}" />
		<title>{% block title %}Cultural Store{% endblock %}</title>
		<link href="{{ asset('bundles/csdesign/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
		<link href="{{ asset('bundles/csdesign/css/bootstrap-responsive.css') }}" type="text/css" rel="stylesheet" />	
		<link href="{{ asset('bundles/csdesign/css/style.css') }}" type="text/css" rel="stylesheet" />	
		<script src="{{ asset('bundles/csdesign/js/jquery-2.0.3.js') }}"></script>				
		<script src="{{ asset('bundles/csdesign/js/bootstrap.js') }}"></script>
		{% block css %}{% endblock %}
		{% block js %}{% endblock %}
	</head>
<body>

<div class="container">

	<header>		
		{%  include 'CSFournisseurBundle:Commun:headerFournisseur.html.twig' %}				
	</header>
	
		
	<div class="body">
		{% block body %}
			{%  include 'CSFournisseurBundle:Commun:bodyFournisseur.html.twig' %}			
		{% endblock %}
	</div>

	<footer>
	{% block footer %}
	{% endblock %}
	</footer>
	
</div>
</body>

</html>