{% extends 'CSDesignBundle:Commun:commun.html.twig' %} {% block css %}
<link href="{{ asset('bundles/cscart/css/checkout.css') }}"
	type="text/css" rel="stylesheet" />
{% endblock %} 

{% block js %}
<script language="JavaScript">
	$(document).ready(function(){
		$('.order-line').click(function(){
			var order_item = $(this).attr('id') ;
			console.log(order_item);
			$(".order-item#"+order_item).toggle();
		});
		
	});
	
</script>
{% endblock %}

{% block body %}

<h1>Mes commandes</h1>

{% if user and (user.orders | length > 0) %}

<p>Voici la liste de vos commandes sur Cultural Store:</p>

<table class="list-products">
	<thead>
		<tr>
			<th>N° de commande</th>
			<th>D&eacute;tail<th>
			<th>Date</th>
			<th>Montant total</th>
		</tr>
	</thead>
	<tbody>
		{% for order in user.orders %}
			<tr id="order-{{ order.id }}" class="order-line">
				<td  class='order-id'>{{ order.id }}</td>
				<td><i class="icon-large icon-list"></i></td>
				<td></td>
				<td>{{ order.date|date("d/m/Y")}}</td>
				<td>{{ order.totalprice|number_format(2, ',', '.') }} €</td>	
			</tr>			
			
			{% for product in order.products %}	
				<tr  id="order-{{ order.id }}" class="order-item">
					<td></td>			
					<td>{{ product.name }}</td>
					<td><a href="{{ path('cs_product_download',{ 'product_id' : product.id  }) }}">T&eacute;l&eacute;charger </a></td>		
				</tr>		
			{% endfor %}			
			
			
		{% endfor %}
	</tbody>
</table>

{% else %}
<p>Vous n'avez pas encore passé de commande sur CulturalStore.</p>
{% endif %} 

{% endblock %}
