{% extends 'CSDesignBundle:Commun:commun.html.twig' %} {% block css %}
<link href="{{ asset('bundles/cscart/css/checkout.css') }}"
	type="text/css" rel="stylesheet" />
{% endblock %} 

{% block js %}
<script language="JavaScript">
	$(document).ready(function(){
		$('.order-line').click(function(){
			$(this).closest('tr').next().toggle();
		});
	});
</script>
{% endblock %}

{% block body %}

<h1>Mes commandes</h1>

{% if user and (user.orders | length > 0) %}

<p>Voici la liste de vos commandes sur Cultural Store:</p>

<table class="list-products">
	<thead>
		<tr>
			<th>N° de commande</th>
			<th>Date</th>
			<th>Montant total</th>
		</tr>
	</thead>
	<tbody>
		{% for order in user.orders %}
			<tr class="order-line">
				<td class='order-id'>{{ order.id }}</td>
				<td>{{ order.date|date("d/m/Y")}}</td>
				<td>{{ order.totalprice|number_format(2, ',', '.') }} €</td>	
			</tr>			
			<tr class="order-item"><td>
			{% for product in order.products %}				
					<p>{{ product.name }}
					{{ product.price |number_format(2, ',', '.') }} €</p>				
			{% endfor %}
			</td></tr>
			
		{% endfor %}
	</tbody>
</table>

{% else %}
<p>Vous n'avez pas encore passé de commande sur CulturalStore.</p>
{% endif %} 

{% endblock %}
